<b>Project Name: </b> <%= name %> <br>
<b>Project Description: </b> <br>
<%= description %> <br><br>

<a href="/bootstrap/<%= name %>"> Fetch project bootstrapper </a> <br>
You can also run something like:<br>
wget <%= server.url %>:<%= server.port %>/init/<%= name %> -O - | sh <br><br>

<b><u>Files in project</u></b> <br>
<% _.each(file_info, function(file) { %>
 * <%= file.path %>
<br>
<% }); %>